.widgets {
  flex: 0.3;
  overflow-y: scroll;

  .widgets_input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;

    input {
      border: none;
      background-color: var(--twitter-background);
      outline: none;
    }
  }
  .widgets__searchIcon {
    color: gray;
  }
  .widgets_widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 15px;
    background-color: #f5f8fa;
    border-radius: 20px;

    h2 {
      font-size: 18px;
      font-weight: 800;
      border-bottom: 1px solid var(--twitter-background);
      padding-bottom: 10px;
    }
  }
}
.widgets::-webkit-scrollbar {
  display: none;
}
