.tweetBox {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);

  .tweetBox_input {
    display: flex;
    padding: 20px;

    input {
      flex: 1;
      margin-left: 20px;
      font-size: 20px;
      border: none;
      outline: none;
    }
  }
  .tweetBox_button {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 20px !important;
    padding: 0 15px;
    margin-left: 83%;
  }
  .tweetBox_imageInput {
    border: none;
    padding: 20px;
    outline: none;
  }
}
